<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>fu.ex.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPage</servlet-name>
        <servlet-class>fu.ex.servlets.AdminPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>fu.ex.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePage</servlet-name>
        <servlet-class>fu.ex.servlets.HomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateFormServlet</servlet-name>
        <servlet-class>fu.ex.servlets.CreateFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateServlet</servlet-name>
        <servlet-class>fu.ex.servlets.CreateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFormServlet</servlet-name>
        <servlet-class>fu.ex.servlets.UpdateFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>fu.ex.servlets.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarDetails</servlet-name>
        <servlet-class>fu.ex.servlets.CarDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Category</servlet-name>
        <servlet-class>fu.ex.servlets.Category</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>fu.ex.servlets.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCar</servlet-name>
        <servlet-class>fu.ex.servlets.SearchCar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegister</servlet-name>
        <servlet-class>fu.ex.servlets.UserRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyToSaveServlet</servlet-name>
        <servlet-class>fu.ex.servlets.BuyToSaveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>fu.ex.servlets.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckDate</servlet-name>
        <servlet-class>fu.ex.servlets.CheckDate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAdmin</servlet-name>
        <servlet-class>fu.ex.servlets.SearchAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCarRent</servlet-name>
        <servlet-class>fu.ex.servlets.ViewCarRent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>History</servlet-name>
        <servlet-class>fu.ex.servlets.History</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>fu.ex.servlets.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnCar</servlet-name>
        <servlet-class>fu.ex.servlets.ReturnCar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPage</servlet-name>
        <url-pattern>/AdminPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern>/HomePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateFormServlet</servlet-name>
        <url-pattern>/CreateFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateServlet</servlet-name>
        <url-pattern>/CreateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFormServlet</servlet-name>
        <url-pattern>/UpdateFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarDetails</servlet-name>
        <url-pattern>/CarDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Category</servlet-name>
        <url-pattern>/Category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCar</servlet-name>
        <url-pattern>/SearchCar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegister</servlet-name>
        <url-pattern>/UserRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyToSaveServlet</servlet-name>
        <url-pattern>/BuyToSaveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckDate</servlet-name>
        <url-pattern>/CheckDate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAdmin</servlet-name>
        <url-pattern>/SearchAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCarRent</servlet-name>
        <url-pattern>/ViewCarRent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>History</servlet-name>
        <url-pattern>/History</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnCar</servlet-name>
        <url-pattern>/ReturnCar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
